body {
    font-family: Arial, sans-serif;
    padding: 50px;
}

form {
    width: 350px;
    padding: 20px;
    border-radius: 2px;
    margin: 20px;
    background: #FBFBFB;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
}

form .field:focus {
    background-color: greenyellow;
    /*de schimbat aici*/
    outline: none;
}

h3 {
    width: 70%;
    color: rgb(239, 239, 239);
    font-size: 22px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
    /*padding-top: 40px;*/
}

input[type=text], input[type=password] {
    width: 350px;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
}

#remember {
    color: grey;
    font-size: 14px;
    align-self: left;
}

button {
    background-color: #E5E5E5;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 160px;
    cursor: pointer;
    
}

button:hover {
    opacity: 0.8;
    background-color: indianred;
    /*de schimbat aici*/
}

button:focus {
    outline: none;
}